{% extends "scheduler/layout.html" %}
{% load static %}

{% block body %}
    <div class="wrapper-btns-single">
        <button type="button" class="btn btn-outline-secondary btn-lg FIFO">
            <a href="{% url 'scheduler' name='FIFO' %}" role="button" class="btn btn-secondary btn-lg" id="FIFO">FIFO</button>
            <a>Default</a>
        </button>
        <button type="button" class="btn btn-outline-info btn-lg SJF">
            <button type="button" class="btn btn-info btn-lg" id="SJF">SJF</button>
            <a>Default</a>
        </button>
        <button type="button" class="btn btn-outline-dark btn-lg STCF">
            <button type="button" class="btn btn-dark btn-lg" id="STCF">STCF</button>
            <a>Default</a>
        </button>
        <button type="button" class="btn btn-outline-success btn-lg RR">
            <button type="button" class="btn btn-success btn-lg" id="RR">RR</button>
            <a>Default</a>
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg MLFQ">
            <button type="button" class="btn btn-danger btn-lg" id="MLFQ">MLFQ</button>
            <a>Default</a>
        </button>
    </div>
{% endblock %}
