{% extends "scheduler/layout.html" %}
{% load static %}

{% block script %}
    <script type="text/babel" data-plugins="transform-es2015-modules-umd" src="{% static 'scheduler/components/colors.js' %}"></script>
    <script type="text/babel" data-plugins="transform-es2015-modules-umd" src="{% static 'scheduler/components/progressBar.js' %}"></script>
    <script type="text/babel" data-plugins="transform-es2015-modules-umd" src="{% static 'scheduler/components/buttons.js' %}"></script>
    <script type="text/babel" data-plugins="transform-es2015-modules-umd" src="{% static 'scheduler/components/renderProgressBars.js' %}"></script>
    <script type="text/babel" data-plugins="transform-es2015-modules-umd" src="{% static 'scheduler/components/renderProgressBarsMLFQ.js' %}"></script>
    <script type="text/babel" data-plugins="transform-es2015-modules-umd" src="{% static 'scheduler/components/scheduleNoTimeSlice.js' %}"></script>
    <script type="text/babel" data-plugins="transform-es2015-modules-umd" src="{% static 'scheduler/components/deleteProc.js' %}"></script>
    <script type="text/babel" data-plugins="transform-es2015-modules-umd" src="{% static 'scheduler/components/schedulerRunToCompletion.js' %}"></script>
    <script type="text/babel" data-plugins="transform-es2015-modules-umd" src="{% static 'scheduler/components/schedulerSTCF.js' %}"></script>
    <script type="text/babel" data-plugins="transform-es2015-modules-umd" src="{% static 'scheduler/components/schedulerRR.js' %}"></script>
    <script type="text/babel" data-plugins="transform-es2015-modules-umd" src="{% static 'scheduler/components/schedulerMLFQ.js' %}"></script>
    <script type="text/babel" data-plugins="transform-es2015-modules-umd" src="{% static 'scheduler/app.js' %}"></script>
{% endblock %}