@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Permanent Marker', cursive;
    min-height: 100vh;
    user-select: none;
}

#page-title{
    text-align: center;
    font-size: 4.5rem;
    color: #6c757d;
    padding: 1.5rem;
    cursor: default;
    margin-bottom: 1rem;
}

#page-subtitle{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: #212529;
}

.btn{
    margin: 1rem;
}

/* 
    Style add, play, delete and back icons
*/
.material-symbols-outlined {
    cursor: pointer;
    transition: color 200ms ease-in, scale 200ms ease-in, background-color 200ms ease-in;
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined{
    font-size: 3.5rem !important;
}

.material-symbols-outlined:hover{
    color: #6c757d;
    scale: 0.8;
}

.icon-add{
    color: #28a745;
}

.icon-delete{
    color: #dc3545;
    font-size: 2.3rem !important;
}

.icon-play{
    color: #17a2b8;
}

.icon-clear{
    color: #dec8c8;
}

#button-play,
#button-clear{
    background-color: transparent;
    border: none;
    outline: none !important;
}

.icon-back{
    color: #343a40;
    font-size: 2.4rem !important;
    width: 100%;
    text-align: center;
}

#icon-question{
    color: inherit;
    font-size: 1.8rem !important;
}

/*
    Style controls buttons for adding processes, 
    progress bars and copy/paste to textarea.
*/
.process{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.controlBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper-btns{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
.wrapper{
    display: flex;
    width: 100%;
}

.wrapper-copy{
    margin-right: 1.5rem;
    margin-top: 1.5rem;
}

#copy{
    font-size: 0.9rem;
    width: 90%;
}

.go{
    color: #fff;
    background-color: #dc3545;
    border-radius: 50%;
    border-color: transparent;
    width: max-content;
    cursor: pointer !important;
    font-size: 1.2rem;
    outline: none !important;
    padding: 0.4rem 0.8rem;
    transition: scale 200ms ease-in, font-size 200ms ease-in;
}

.go:hover{
    scale: 0.9;
}

#paste-textarea{
    overflow-y: scroll;
    height: 40vh;
    outline: none;
    resize: none;
    border: none;
    padding: 1rem;
    background-color: #f8f9fa;
    border: 0.3rem;
    letter-spacing: 0.1rem;
    line-height: 150%;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

#paste-setup{
    width: 10%;
}

#paste-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: inset;
    border-width: 1.7px;
    padding: 2rem;
    border-radius: 0.3rem;
    border-width: 1.7px;
}

#paste-wrapper label{
    display: inline-block;
}

.paste-setup-MLFQ{
    width: 30% !important;
}


.progress{
    height: 2.3rem;
    font-size: 1rem;
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

#submit-btn{
    background-color: transparent;
    border: none;
    outline: none;
}

.results{
    font-size: 1.15rem;
    width: 10rem;
    text-align: center;
}
.results p{
    display: inline;
    width: 5rem;
}
.results-desc{
    width: 10rem;
}

.results-desc button{
    display: block;
    text-align: center;
    margin: 0 auto;
}
form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#add-proc-desc{
    margin-bottom: 0.5rem;
    color: #6c757d;
}

#label-simulate{
    color: #6c757d;
    font-size: 1.3rem;
}

.container-fluid{
    font-size: 1.3rem;
}

.avgs{
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-top: 1rem;
    height: 6rem;
    color: #fff;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avgs p{
    display: block;
    width: 100%;
    margin-bottom: 0;
}

.sessionDescription{
    margin: 2rem 1rem 2rem 1rem;
}

.mlfq-process{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 2.4rem;
    background-color: #e9ecef;
}

label, 
#icon-time{
    cursor: help;
}

/*
    Define layout for all buttons in the home page
    that lead to schedulers. 
*/

#FIFO{
    grid-row: 1 / span 2;
    cursor: default;
}

#SJF{
    grid-column: 2 / span 3;
    cursor: default;
}

#STCF{
   grid-column: 2 / span 3;
   cursor: default;
}

#RR{
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
    cursor: default;
}

#MLFQ{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    cursor: default;
}

.btns-single{
    display: block;
    margin: 0 auto;
    width: 90%;
}

.wrapper-btns-single{
    width: 100%;
    height: 75vh;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 0.2rem;
}

#FIFO,
#SJF,
#STCF,
#RR,
#MLFQ,
#copy,
#FIFOInfo,
#SJFInfo,
#STCFInfo,
#RRInfo,
#MLFQInfo,
#TermsInfo{
    cursor: pointer;
}


[type=button]:not(:disabled), 
[type=reset]:not(:disabled), 
[type=submit]:not(:disabled), 
button:not(:disabled){
    cursor: default;
}

input[type="number"]{
    text-align: center;
    margin-right: 0.5rem;
    border: none;
    border-bottom: 1px solid #343a40;
    outline: none;
}

.guide-header{
    text-align: center;
    color: #6c757d;
}

/*
    Style buttons that render default settings for
    any scheduler.
*/
.wrapper-btns-default{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border-style: outset;
    border-width: 1.7px;
}

.wrapper-btns-info{
    display: flex;
    flex-direction: column;
}

.btns-default-info{
    display: flex;
    width: 100%;
    justify-content: space-around;
}


#FIFOGood,
#FIFOBad,
#SJFGood,
#SJFBad,
#STCFGood,
#STCFBad,
#RRGood,
#RRBad,
#MLFQGood,
#MLFQBad,
#FIFOInfo,
#SJFInfo,
#STCFInfo,
#RRInfo,
#MLFQInfo{
    cursor: pointer;
    padding: .75rem 1.5rem;
}

#FIFOGood,
#FIFOBad,
#SJFGood,
#SJFBad,
#STCFGood,
#STCFBad,
#RRGood,
#RRBad,
#MLFQGood,
#MLFQBad{
    width: 70%;
}

.wrapper-btns-info{
    border-bottom: 1.2px solid #C9D4DE;
}

.scheduler-wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 3rem;
}

#infoGroup{
    width: 100%;
    padding: 3rem;
    min-height: max-content;
}

#description{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.card{
    background-color: #FFF8EA;
}

.scheduler-info{
    white-space: pre-line;
    font-family: 'Poppins', sans-serif;

}

.container-fluid{
    min-height: 54vh;
}

.navigation-sched-page{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    gap: 0.4rem;
}

.navigation-sched-page button{
    font-size: 1rem;
    margin: 0.2rem;
}

.prefilled-sched-btns{
    display: flex;
    justify-content: space-around;
}

/*
    Footer with credits
*/
#credits{
    text-align: center;
}

#credits > *{
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    color: #6c757d;
}

/*
    media queries for responsive design
*/

@media(max-width: 750px){
    .wrapper-btns-default{
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0.2rem;
    }

    .btns-default{
        display: flex;
    }

    .wrapper-btns-single{
       padding: 0.5rem;
    }

    #FIFO{
        grid-row: 1 / span 1;
        grid-column: 1 /span 2;
    }
    
    #SJF{
        grid-row: 1 / span 1;
        grid-column: 3 /span 2;
    }
    
    #STCF{
       grid-row: 2 / span 1;
       grid-column: 1 /span 2;
    }
    
    #RR{
        grid-row: 2 / span 1;
        grid-column: 3 /span 2;
    }
    
    #MLFQ{
        grid-row: 3 / span 1;
        grid-column: 1 /span 4;
    }
    #infoGroup{
        margin-bottom: 4rem;
        padding: 0.2rem;
    }
    #description{
        flex-direction: column;
    }

    #infoGroup{
        font-size: 0.9rem;
    }

    #icon-question{
        font-size: 1.2rem !important;
    }

    #infoGroup .btn{
        margin: 0.2rem;
    }
    #FIFOInfo,
    #SJFInfo,
    #STCFInfo,
    #RRInfo{
        font-size: 0.9rem;
        padding: .55rem 1rem;
    }

    #MLFQInfo{
        font-size: 0.8rem;
    }

    #FIFOGood,
    #FIFOBad,
    #SJFGood,
    #SJFBad,
    #STCFGood,
    #STCFBad,
    #RRGood,
    #RRBad,
    #MLFQGood,
    #MLFQBad{
        padding: .4rem 0.8rem;
    }
}

@media(max-width: 1000px){
    #infoGroup{
        font-size: 0.9rem;
    }

    #icon-question{
        font-size: 1.2rem !important;
    }

    #infoGroup .btn{
        margin: 0.2rem;
    }
    #FIFOInfo,
    #SJFInfo,
    #STCFInfo,
    #RRInfo{
        font-size: 0.9rem;
        padding: .55rem 1rem;
    }

    #MLFQInfo{
        font-size: 0.8rem;
    }

    #FIFOGood,
    #FIFOBad,
    #SJFGood,
    #SJFBad,
    #STCFGood,
    #STCFBad,
    #RRGood,
    #RRBad,
    #MLFQGood,
    #MLFQBad{
        padding: .4rem 0.8rem;
    }
}

@media(max-width: 450px){
    .guide-header{
        font-size: 1.3rem;
    }
}


@media(max-width: 850px){
    .wrapper{
        flex-direction: column;
        min-height: 100vh;
    }

    .wrapper-btns{
        flex-direction: row;
    }
    .wrapper-btns:first-child{
        display: block;
        margin: 0 auto;
    }

    .controlBtns{
        flex-direction: column;
    }

    .results-desc{
        display: none;
    }

    .wrapper-copy{
        margin: 0;
        padding: 2rem;
    }

    #copy{
        width: 100%;
        margin: 0rem;
        margin-bottom: 1rem;
    }

    #paste-textarea{
        width: 100%;
    }

    .process{
        width: 90%;
        margin: 0 auto;
    }
    .container-fluid p{
        margin-left: 0.2rem;
    }
    form label{
        font-size: 1.1rem;
    }
    #page-title{
        font-size: 3.5rem;
        margin-bottom: 1rem;
        padding: 1rem;
        margin-top: 1rem;
    }

    #page-subtitle{
        margin-bottom: 1.5rem;
    }
    .results p{
        width: 7rem;
    }
    .avgs{
        width: 90%;
        height: max-content;
        padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .avgs p{
        width: auto;
    }
    .guide-header{
        font-size: 1.4rem;
    }
}

@media(max-width: 600px){
    .wrapper-btns{
        flex-direction: column;
    }

    .wrapper-btns > *{
        width: 90%;
    }

    form {
        margin-bottom: 1rem;
    }

    form label{
        font-size: 0.9rem;
    }
}

